@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-toolbar.mat-primary {
    background: black;
    color: #fff;
  }
  side-nav{
    background-color: black;
}

.vertical-menu {
  background-color: grey !important;
  
}


